<div class="box bow--large">
  <h2 class="center font-quicksand">Edit My Profile</h2>

  <%= image_tag @profile.avatar.url(:thumbnail), class: 'as--profile-avatar center' %>
  <div>
    <%= render 'form' %>
  </div>

</div>
