<ul class="main">
  <% @email.find_each do |email|%>
    <li><%= email.name %> - <%= email.email %></li>
    <hr>
  <% end %>
  <% @profile_email.find_each do |profile|%>
    <li><%= profile.name %> - <%= profile.user.email %></li>
  <% end %>
</ul>
