<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Email Subscriber</title>
</head>
<body>

<h1>New Email Subscriber</h1>

<h3>the following email has requested subscription</h3>
<p><%= @email %></p>

</body>
</html>
