<div class="wrapper form--new-lesson">

  <%= render 'form' %>

</div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('button button--primary').removeClass('btn btn-default btn-primary')

    });
   
});

</script>
