<div class="wrapper form--new-lesson">

  <%= render 'form' %>

</div>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $('.wrapper').bind("DOMNodeInserted", function(){
      $(this).find('.btn').addClass('button button--primary').removeClass('btn btn-default btn-primary')
    });
});

function imageModalDesc(){

	var modalTitle = $('.modal-header')
	var imageModal = modalTitle.each(function(i, obj){
		var title = $(obj).find('.modal-title')
		title = title[0]
		title = $(title).html()
		title == 'Images' ? $(obj).append('<p>select a photo to upload. Once it is in the gallery click on the photo and select the size and position. You can also insert a link to a photo somewhere else online and hit go.</p>') : null
	})
}
imageModalDesc();

</script>
